
.start h1 {
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	color: gray;
}
.start p {
	text-align: center;
	vertical-align: center;
	font-size: 12px;
	color: gray;
}

.start {
	height: 50px;
	display: block;
}

.songElement:hover {
	background-color: #809FFF;
}

.tableContainer {
	height:400px;
	overflow: auto;
	overflow-y: auto;
}

.options-element {
    margin: 0 auto;
    width: auto;
    display: inline-block !important;
}

.current-display {
	font-size: 24px;
	font-family: "Georgia";
	text-align: center;
	color: gray;
}
.clickableHeader:hover {
	text-decoration: underline;
}

.progress-label {
    font-size: 10px;
    vertical-align: top;
    color: gray;
}

.progressbar-container {
	margin: 0 auto;
    width: 82%;
    display: inline-block !important;
}

#progressbar-slider {
	width: 100%;
}

.songTableElement {
	position: relative;
	width:40% !important;
}
.artistTableElement {
	position: relative;
	width:20% !important;
}
.albumTableElement {
	position: relative;
	width:20% !important;
}
.queueButton {
	position: relative;
	width:20% !important;
}
#queue-list .drag-drop {
        cursor: move;
}
.queue-element {
	display: inline-block !important;
}
.qHeader {
	font-weight: bold;
}
.songsPanelHeader {
	display: inline-block;
}
.search {
	width: 40%;
	margin-left: 25%;
	vertical-align: top;
}

.songsTitle {
	width: 30%;
	vertical-align: top;
}
