
.songElement:hover {
	background-color: #809FFF;
}

.tableContainer {
	height:400px;
	overflow: auto;
	overflow-y: auto;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}