
.songElement:hover {
	background-color: #809FFF;
}

.tableContainer {
	height:400px;
	overflow: auto;
	overflow-y: auto;
}

.options-element {
    margin: 0 auto;
    width: auto;
    display: inline-block !important;
}

#volume-slider {
}

